<div class="row">
  Enter Location : <input placeholder="Location" type="text" 
  class="input-field col s12" [(ngModel)]="inputLocation"/>

    <button
    class="waves-effect waves-light btn col s4"    
    (click)="searchLocation()"
    >
    Search
    </button>

</div>
<div class="ht600" id="map"></div>
<!-- <div *ngIf="lat && lng"> -->

        <!-- <agm-map [latitude]="lat" [longitude]="lng">      
          <agm-marker [latitude]="lat" [longitude]="lng">      
            <agm-info-window>
              <h3><strong>Howdy!</strong></h3>
              <p>You are here!</p>
            </agm-info-window>      
          </agm-marker>      
        </agm-map> -->
     
        <!-- [zoom]="zoom" -->

        <!-- <agm-map
            [latitude]="lat"
            [longitude]="lng"
            [disableDefaultUI]="false"
            [disableDoubleClickZoom] = "true"
            [zoomControl]="false"
            [zoom]="18"
            (mapClick)="mapClicked($event)">

            <agm-marker 
                *ngFor="let m of markers; let i = index"
                (markerClick)="clickedMarker(m.label, i)"
                [latitude]="m.lat"
                [longitude]="m.lng"
                [label]="m.label"
                [markerDraggable]="m.draggable"
                (dragEnd)="markerDragEnd(m, $event)">
                
                <agm-info-window>
                <strong>InfoWindow content</strong>
                </agm-info-window>
                
            </agm-marker>
            
            <agm-circle [latitude]="lat + 0.3" [longitude]="lng" 
                [radius]="5000"
                [fillColor]="'red'"
                [circleDraggable]="true"
                [editable]="true">
            </agm-circle> 
    </agm-map> -->


<!-- <agm-map [latitude]="lat" [longitude]="lng"></agm-map> -->